@font-face {
	font-family: "Cal Sans";
	font-style: medium;
	font-weight: 600;
	font-display: swap;
	src: url("/fonts/CalSans-SemiBold.otf") format("truetype");
}

@font-face {
	font-family: "Cal Sans Fallback";
	font-style: medium;
	font-weight: 600;
	src: local("Arial Bold");
	ascent-override: 106.67%;
	descent-override: 21.33%;
	line-gap-override: 0%;
	size-adjust: 93.74%;
}
